html {
    /*Reformatts everything to have a margin and padding of 0*/
    margin: 0;
    padding: 0;
  }
  
  #dynamic-table {
    border-collapse: collapse;
    width: 50%;
    margin-top: 20px;
    align-self: center;
    margin-left: auto;
    margin-right: auto;
    color: black;
    font-size: 20px;
    padding: 20px;
    font-family: "Times New Roman", Times, serif;
  }
  
  table,
  th,
  td {
    align-self: center;
    border: 1px solid black;
    padding: 10px;
    background-color: #d9c3b4;
    /* Optional: Adds padding to th and td for better spacing */
  }
  
  
  th,td {
    text-align: left;
  }
  
  
  select {
    width: 100%;
  }
  
  button {
    margin-top: 10px;
  }
  
  #deleteButton{
    align-self: center; 
  }
  
  .mainPage {
    /*updates background color*/
    background-color: #d9c3b4;
    /*Aligns all text to center by default for a better look*/
    text-align: center;
    /*Update the padding and margin to 0*/
  
  }
  
  #heading {
    /*Change the heading color to white*/
    /*White also helps the heading stand out*/
    /*updates the color and size of font*/
    color: white;
    text-align: center;
    font-size: 70px;
    font-weight: 90;
    /*changed font to be thicker*/
    font-family: "Times New Roman", Times, serif;
    /*changes font*/
  }
  
  .buttons {
    background-color: #d9c3b4;
    border: #000000, solid, 2px;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    margin: 30px 20px;
    cursor: pointer;
    font-family: "Times New Roman", Times, serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
  }
  
  .send-btn {
    align-self: flex-end; 
    height: 55px; 
    line-height: 55px;
    position: fixed;
    bottom: 65px;
    right: 65px;
    cursor: pointer; 
  }
  
  .chat_symbol {
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer; 
  }
  
  /*textarea {
    width: 350px;
    height: 70px;
    position: fixed;
    bottom: 66px;
    right: 95px;
  }*/
  
  .chatbot {
    position: fixed;
    right: 40px;
    bottom: 60px;
    width: 420px;
    background: #fff;
    border-color: black;
    border-radius: 15px; 
    overflow: hidden; 
  }
  
  .chatbot-title {
    color: white;
    font-size: 1.4rem;
  }
  
  .chatTitle {
    background-color: #96735c;
    padding: 16px 0;
    text-align: center;
  }
  
  .chatbox {
    height: 410px;
    overflow-y: auto;
    padding: 15px 20px 70px;
    text-align: left;
  }
  .chatbox .chat {
    display: flex;
  }
  .chatbox .chat p{
    padding: 5px 16px;
    background: #96735c; 
    border-radius: 10 px 10px 0px 10px; 
    /*color: white;*/
    font-size: 0.95rem; 
    max-width: 75%;
    text-align: left; 
  }
  .chatbox.incoming p{
    display: flex;
    /*color: #000; */
    padding: 2px 10px;
    border-radius: 10px 10px 10px 0px; 
    background: #96735c; 
    text-align: left; 
    position: fixed;
  
    /*display: flex; 
    padding: 2px 10px; 
    font-size: 0.95rem; 
    text-align: left;
    position: fixed; 
    bottom: 420px;
    right: 250px; 
    left: 650px;*/
  
  }
  
  .chatbox.outgoing{
    justify-content: flex-end; 
    margin: 20px 0; 
    background: #96735c;
    text-align: left; 
  }
  
  .chatbot.chat-input{
    position:absolute;
    bottom: 0px; 
    width: 100%;
    background: white; 
    padding: 5px 20px; 
    border-top: 1px solid white; 
    gap: 15px; 
    text-align: left; 
    justify-content: flex-end; 
    margin: 20px 0;
  }
  
  .chat-input textarea{
    border: none; 
    outline: none; 
    font-size: 0.95rem; 
    resize: none; 
    padding: 16px 15px 16px 0; 
    height: 55px; 
    width: 100%; 
    text-align: left; 
  }
  
  .chat-input textarea:valid ~ span{
    visibility: visible; 
  }
  
  .buttons:hover {
    background-color: #b8a193;
    transform: translateY(-2px);
  }
  
  /*This is for the naviation bar*/
  .navigation {
    margin: 0;
    padding: 20px;
    list-style-type: none;
    background-image: linear-gradient(360deg, #96735c, #96735c);
    overflow: hidden;
    margin-block-end: 30px;
    padding-top: 10px;
    padding-bottom: 5px;
  }
  
  /*Aligns the links in the center beside each other*/
  .navigate{
    display: inline;
    text-align: center;
  }
  
  
  
  /*Change the links to the other pages so that they have white*/
  /*text, a better font type, and also changes padding, margins and position*/
  .pagesLabel {
    color: floralwhite;
    font-size: 30px;
    font-family: pacifico, Brush Script Std, Brush Script MT, cursive;
    padding: 30px;
    text-decoration: none;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
  
  }
  
  /*changes color when user hovers over navigation bar link*/
  li a:hover {
    background-color: #9a7e6d;
  }
  
  
  #details{
    font-size: 24px;
  }
  /*------------------THE CSS FOR THE SECOND PAGE----------------------*/
  
  .text2 {
    text-align: left;
    color: black;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 70px;
    padding-right: 70px;
    margin: 30px;
  }
  
  .subheading {
    text-align: center;
    color: black;
    font-size: 35px;
    font-family: "Times New Roman", Times, serif;
    padding-left: 70px;
    padding-right: 70px;
    margin: 30px;
  }
  
   /* body{
    /*updates background color*/
    /* background-color: #d9c3b4;
    /*Aligns all text to center by default for a better look*/
    /* text-align: center; */ 
    /*Update the padding and margin to 0*/
   /* }  */


  body {
    /*updates background color*/
    background-color: #d9c3b4;
    background-image: url("imgs/Untitled.jpeg");
    background-size: cover;
    /*Aligns all text to center by default for a better look*/
    text-align: center;
    /*Update the padding and margin to 0*/
  }
  
  .explanation{
    font-size: 30px; 
    padding-right: 90px;
    padding-left: 90px; 
    
  }
  .resources{
    text-align: left; 
    padding-left: 200px; 
    padding-right: 90px;
  }
  
  .resourcesTitle{
    font-size: 40px; 
  }
  
  .resources{
    font-size: 25px; 
    text-align: center; 
    color: black; 
  }
  
  option{
    font-size: 20px;
  }
  
  select{
    font-size: 20px; 
  }
  
  textBox{
    font-size: 20px;
  }
  
  #img{
    width: 40%;
    height: 50%;
    border-radius: 20px;
    
  }

  #userIcon{
    width: 10px; 
    height: 10px; 
    position: relative;
    left: -50px;  
  }

  #userIconText{
    position: absolute; 
    top:110px; 
    left: 705px; 
    font-size: 20px; 
  }



